<html xmlns:th="https://thymeleaf.org">
<head>
    <title>Countries</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<h1>Add a new country</h1>
<form th:object="${country}" th:action="@{/countries/saveOrUpdateCountry}" method="post">
   <input type="hidden" th:field="${country.id}">
    <div class="form-group">
        <label>Country Code</label>
        <input type="text" th:field="${country.countryCode}">
    </div>
    <div class="form-group">
        <label>Name</label>
        <input type="text" th:field="${country.countryName}">
    </div>
    <div class="form-group">
        <label>Population</label>
        <input type="text" th:field="${country.population}">
    </div>
    <button type="submit">Submit</button>
</form>

<a th:href="@{/countries/list}" class="btn btn-primary btn-lg active" role="button">Back to list</a>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>