<html xmlns:th="https://thymeleaf.org">
<head>
    <title>Countries</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<h1>Add a new country</h1>
<form th:action="@{/countries/saveOrUpdateCountryFromList}" method="post">
    <div class="form-group blu-margin">
        <select class="form-control" name="nameOfCountry">
            <option value="0">Select country</option>
            <option th:each="baseCountryV3 : ${baseCountriesV3}" th:value="${baseCountryV3.name.common}"
                    th:text="${baseCountryV3.name.common}"></option>
        </select>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>

<a th:href="@{/countries/list}" class="btn btn-primary btn-lg active" role="button">Back to list</a>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>