<html xmlns:th="https://thymeleaf.org">
<head>
    <title>Countries</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<h1>🌎Countries</h1>
<table class="table table-striped">
    <tr>
        <th>Flag</th>
        <th>Code</th>
        <th>Name</th>
        <th>Population</th>
        <th>Action</th>
    <tr>

    <tr th:each="country : ${countries}">
        <td style="width: 5%"><img th:src="${country.flagUrl}" class="img-fluid"/></td>
        <td style="width: 5%" th:text="${country.countryCode}"></td>
        <td style="width: 22.5%" th:text="${country.countryName}"></td>
        <td style="width: 22.5%" th:text="${country.population / 1000000.0} + 'M'"></td>
        <td style="width: 22.5%">
            <a th:href="@{/countries/updateCountry(countryId=${country.id})}" class="btn btn-outline-primary"
               role="button">Edit</a>
            <a th:href="@{/countries/deleteCountry(countryId=${country.id})}" class="btn btn-outline-danger"
               role="button">Delete</a>
        </td>

    </tr>
</table>

<a th:href="@{/countries/addCountry}" class="btn btn-primary btn-lg active" role="button">Add a new country</a>
<a th:href="@{/countries/addCountryFromList}" class="btn btn btn-info btn-lg active" role="button">Add a new country
    from list</a>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>